
<button (click) = "getCatalog()">Get Catalog</button>
<button (click) = "getSavedGreetingCards()">{{showHideText}}</button>
<br>
<div *ngFor="let template of templates">
  <span *ngIf = "template.type == 'BIRTH_DAY_TEMPLATE' "><button [ngClass] = "['BIRTH_DAY_TEMPLATE']"(click) = "selectTemplate(template)" >Birth Day</button></span>
  <span *ngIf = "template.type == 'GET_WELL_SOON_TEMPLATE' "><button [ngClass] = "['GET_WELL_SOON_TEMPLATE']" (click) = "selectTemplate(template)"> Get Well</button></span>
</div>
<div>
  <div *ngIf = "selectedTemplate != 'na'">Make Your Card
    <app-birthday-template *ngIf = "selectedTemplate.type == 'BIRTH_DAY_TEMPLATE'"></app-birthday-template>
    <app-getwell-template *ngIf = "selectedTemplate.type == 'GET_WELL_SOON_TEMPLATE'"></app-getwell-template>
  </div>
  <p >
    <template #newcardcontainer></template>

  </p>
</div>


